[Import]
screen_width = 512
screen_height = 384

[Misc]
timeout = 15
auto_start = true

[Display]
screen_width = 512
x_screens = 2
full_screen = true
screens = 4
force_multiscreen = true
screen_height = 384

[Paths]
unstitched_dir = /home/fresh/unstitched_video
last_played = file:///home/fresh/opo/stitched_video/nhew2-512-75-x264.avi
choose_dir = /home/fresh/opo/stitched_video

